.dialogs {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 10px;

  a {
    text-decoration: none;
    color: #fff;
  }

  &__messages {
    color: rgb(240, 240, 25);
  }

  .active {
    color: rgb(215, 218, 47);
  }
}
